.number-button {
    background: #113C77;
    width: 80px;
    height: 80px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: #420108 0px 5px;
    color: white;
}

.number-button:hover {
    cursor: pointer;
}

.number-button.wide {
    width: 180px;
}

.number-container {
    display: flex;
    flex-direction: column;
}

.number-container > .number-row {
    display: flex;
    flex-direction: row;
}

.number-button > .value {
    font-size: 25px;
}

.number-button.special {
    background: #2161B1;
}

.number-button.operator {
    background: #3DB5E5;
}